html {
	min-height: 100%;
 	position: relative;
 }

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/background.png);
	margin: 0 0 60px 0;
	color: #777777;

}

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;

}

main {
	margin: 30px 0 0;
	padding-bottom: 30px;
}

.content {
	margin: 0 auto;
	width: 960px;
}

h1 {
	float: left;
	font-weight: bold;
	background-color: #4aaaa5;
	font-size: 30px;
	padding: 20px;
	color: white;
}

nav {
	padding: 27px;
	margin-left: 675px;

}

nav a:link {
    text-decoration: none;
    color: #777777;
}

nav a:visited {
    text-decoration: none;
    color: #777777;
}

h2 {
	font-weight: bold;
	color:#4aaaa5;
	font-size: 28px;
	padding: 20px;
	border-bottom: 2px solid #dddddd;
}

h3 {
	font-weight: bold;
	text-align: center;
	color:#4aaaa5;
	font-size: 25px;
	padding: 15px;
	border-bottom: 2px solid #dddddd;
}

.profilePic {
	margin: 0 20px 15px 0;
}

.about {
	margin-top: 20px;
}

nav a {
	/*float: left;*/
	margin-left: 15px;
}

.clearfix::after { 
	content: "";
	display: block;
	clear: both;
}

.mainContent {
	width: 610px;
	height: 100%;
	margin-right: 20px;
	float: left;
	background-color: #ffffff;
	padding: 20px 20px 80px;
}

.sidebar {
	width: 230px;
	padding: 20px;
	float: left;
	margin-left: 20px;
	background-color: #ffffff;

}

#linkedin {
	width: 50px;
	height: 50px;	

}

#facebook {
	width: 50px;
	height: 50px;

}	

#stack {
	width: 50px;
	height: 50px;

}

.floats {
	float: left;
}


footer {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	margin: 0;
	height: 60px;
	background-color: #666666;
/*	color: #ffffff;*/
}

footer p {
	margin-top: 22px;
}

.input {
	width: 100%;
}

.links {
	width: 70%;
	margin: 10px auto;
}

.socialLnk {
	/*width: 33.33333333333%;*/
	display: inline-block;
}

.portLnk {
	height: 150px;
	width: 25%;
	margin: 25px;
	
}

#lnkOne {
	background-image: url(../images/prework.png);
	background-size: cover;
}

/*.portImages {
	height: 130px;
	width: 150px;
}

.portTitles {
	position: absolute;
	font-weight: bold;
	background-color: #4aaaa5;
}

.portGroups {
	height: 200px;
	width: 250px;
	margin-top: 20px;
}*/

input[type=submit] {
	color: #ffffff;
	background-color: #4aaaa5;
	border: none;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;	
}